*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-top: 20px;
}

ul{
    list-style: none;
}

body {
    background-color: #121214;
    background-image: url(./assets/bg.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -715px;
    background-size:100%;
}


body *{
    font-family: 'Roboto';
}

#app {
    width: fit-content;
    margin: 52px auto;
    text-align: center;
}

header {
    margin-bottom: 10 px;
    text-align: center;
}

#cards{
    display: block;
    gap: 32px;
}

.card{
    width: 4 column;
    padding: 32px 23px;
    text-align: center;

    background: #1d1d1d;
    border-bottom: 2px solid #f7dd43;
    border-radius: 6px;
    margin-top: 25px;
}


.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;

    color: #F7DD43;
}

.card h2 span{
    color: #E1E1E6;
    font-size: 14px;
    text-transform: uppercase;
}

.card ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li + li{
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong{
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    margin: 10px;

    color: #E1E1E6;
}

div p{
    font-weight: 900;
    font-size: 30px;
    line-height: 125%;
    cursor: pointer;

    color: #E1E1E6;
}

.teste:hover{
    color: #F7DD43;
}

.voltar{
    font-weight: 900;
    font-size: 30px;
    line-height: 125%;
    cursor: pointer;

    color: #F7DD43;
}